.checkbox {
    width: 2.5vw;
    height: 2vh;
    border-radius: 100em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    transition: 0.5s;

    .box {
        border-radius: 100em;
        position: absolute;
        background: white;
        width: 1.5vh;
        height: 1.5vh;
        transition: 0.5s;
    }
}